<p [ngClass]="classList"> by class list - string with class names seporated by space</p>
<p [ngClass]="classListFunc()"> by class list - the list is returned from function</p>
<p [ngClass]="classArr"> arr of class names</p>
<button (click)="addBorder()">add border</button>
<button (click)="bigText()">big text</button>
<p [ngClass]="classObj">object - keys are class names values are booleans</p>
<p [ngStyle]="styleObj">object - keys are class names values are booleans</p>
<p [ngStyle]="styleObj2">object - keys are class names values are booleans</p>



