/* You can add global styles to this file, and also import other style files */
.red{
    background-color: darkmagenta;
    position:absolute;
    margin-top: 50%;
    max-width: 50vh;
    contain: 1000px;
}