<p class="one" >book-details works!</p>
<div style="text-align: center;" *ngFor="let book of bookDetails">
    <div  style="color: rgb(77, 0, 128)" [style.fontSize.px]="myFontSize">{{book.title|uppercase}}</div>
    <div  style="color:rgb(192, 44, 160)"[style.fontSize.px]="myFontSize1">{{book.author}}</div>
    <span style="color:rgb(155, 76, 138)">{{book.summary}}</span>
    <h1></h1>
    <a *ngIf="book.pageCount>=400">עבה במיוחד!!!</a>
   <div *ngIf="book.pageCount<50 && book.ageCategory!=1">ספר דק במיוחד</div>‏
    <p style="text-align:center;">***</p>
</div>
<p style="color:darkmagenta">--------------------------------</p>
<p>{{bookDetail.title|uppercase }}</p>
<p>{{bookDetail.author}}</p>
<p>{{bookDetail.summary}}</p>
<br>
<!-- <a>your book</a>
<p>{{bookbyid.title}}</p> -->
<!-- <p style="font-size:x-large;">{{bookbyid.title}}</p>
<p style="font-size:x-large;">{{bookbyid.author}}</p>
<p style="font-size:x-large;">{{bookbyid.summary}}</p> -->
<p style="color:darkmagenta">--------------------------------</p>
 